altgraph
anyio
async-generator
attrs
beautifulsoup4
build
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
cryptography
cx-Freeze
cx-Logging
docopt
docutils
exceptiongroup
ffmpeg
gensim
gTTS
h11
h2
hpack
httpcore
httpx
hyperframe
idna
incremental
joblib
Kivy
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
Kivy-Garden
lief
llvmlite
lorem
MouseInfo
nbclassic
nltk
notebook
notebook_shim
numba
numpy
opencv-python-headless
outcome
packaging
pefile
Pillow
pip-tools
pipreqs
playsound
POT
py2exe
PyAudio
PyAutoGUI
pycparser
pydub
pygame
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pynndescent
pynput
pyOpenSSL
pyperclip
pypiwin32
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5-sip
PyRect
PyScreeze
PySide6
PySide6-Addons
PySide6-Essentials
PySocks
python-crfsuite
python-dotenv
python-telegram-bot
pyttsx3
pytweening
pyvi
pywin32
pywin32-ctypes
regex
requests
rfc3986
scikit-learn
scipy
selenium
shiboken6
six
sklearn-crfsuite
smart-open
sniffio
sortedcontainers
sounddevice
soupsieve
SpeechRecognition
tabulate
threadpoolctl
tk
tomli
tqdm
trio
trio-websocket
umap-learn
urllib3
webdriver-manager
wikipedia
wincertstore
wsproto
wxPython
yarg
youtube-search
